#sentence{
  display: none;
  font-style: italic;
  color:brown;
}
.container{
  display: none;
  background-color:lightblue;
}
.button{
  color:darkblue;
}
h1{
  background-color:lightblue;
  text-align: center;
}
#percentage{
  background-color:grey;
  font-weight: bold;
}
.sidebar{
  float: right;
  padding: 6px;
}
.Box-model{
  padding: 6px;
  margin: 6px;
  border: 2px;
}
